@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #FF4785;
  --muted: #666666;
  --card: #f8f9fa;
  --card-foreground: #333333;
  --border: #e5e7eb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* 添加平滑滚动 */
html {
  scroll-behavior: smooth;
}
